@import "compass";

body {
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
}

.title {
    padding-top: 2em;
    padding-bottom: 2em;

    h1 {
        &.hidden-xs {
            font-size: 5.5em;
            letter-spacing: 70px;
            padding-left: 35px;
        }
        &.visible-xs {
            font-size: 3.5em;
            letter-spacing: 0.3em;
            padding-left: 0.15em;
        }
        font-family: "Raleway", sans-serif;
        font-weight: 100;
    }
    h2 {
        padding-top: 1em;
        font-weight: 200;
    }
}

#constellation {
    position:fixed;
    width: 100%;
    height: 100%;
    z-index: -1
}

p, .navbar, li {
    font-size: 1.1em;
}

a:hover {
    text-decoration: none;
}

.navbar-default {
    background: rgba(0, 0, 0, 0);
    border: none;

    .navbar-nav>li>a {
        color: #333;
    }
}

h1, h2, h3 {
    font-family: "Open Sans", sans-serif;
    text-align: center;
}

.article-content {
    margin-bottom: 3em;
    img {
        max-width: 100%;
    }
}

.content {
    p {
        text-align: justify;

        &.text-center {
            text-align: center;
        }
    }

    h3 {
        text-align: left;
    }

    blockquote {
        border-left: none;
    }

    pre {
        font-size: 0.8em;
        border: none;
        background: rgba(33,33,33,0.8);
        color: #00ff00;
        font-weight: bold;
    }
}

h2 {
    padding-bottom: 0.5em;
}

footer {
    padding-top: 3em;
}

input.col-xs-12, textarea.col-xs-12 {
    margin-bottom: 10px;
    padding: 5px;
}

input.form-control {
    padding: 5px;

    &:focus {
        border-color: #cccccc;
        @include box-shadow(none);
    }
}

.text-error {
    color: #FF3B30;
}

.article {
    padding: 1em;
    border-bottom: 1px solid rgba(100,100,100,0.1);
    @include background-size(cover);
    background-position: 50% 50%;

    .article-date {
        text-align: center;
        .day {
            width: 100%;
            display: block;
        }
        .month {
            width: 100%;
            display: block;
        }
        .year {
            width: 100%;
            display: block;
        }
    }

    .article-content {
        display: block;
    }

    h2.article-title {
        font-weight: 200;
        text-align: left;
        font-size: 2em;
        padding: 0 0 3px 0;
        margin: 0;
    }

    p.subtitle {
        margin-bottom: 1em;
    }
}

.article-author-desc {
    margin-left: 180px;
}

.article-author-avatar {
//    float: left;
    max-width: 150px;
    border-radius: 150px;
}