{% extends "::layout.html.twig" %}

{% block subtitle %}
    <h2>Liste des utilisateurs</h2>
{% endblock %}

{% block body %}
    {% for user in users %}
        <p>{{ user.username }}</p>
    {% endfor %}
{% endblock %}