{% extends "AppUserBundle::layout.html.twig" %}


{% block subtitle %}
    <h2>Profil</h2>
{% endblock subtitle %}

{% block body %}
    <h3>{{ user.username }}</h3>
    <img class="avatar" src="http://image.noelshack.com/fichiers/2015/04/1421741724-ok.jpg" alt="avatar"/>
    <p>
        <a href="{{ path('fos_user_change_password') }}">Changer de mot de passe</a>
    </p>
{% endblock %}
