<!doctype html>
<html lang="fr">
<head>
    <title>{% block title %}DevDek{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ asset('stylesheets/normalize.css') }}"/>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ asset('stylesheets/app.css') }}"/>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,100,200,300' rel='stylesheet' type='text/css'>
    {% block stylesheet %}
    {% endblock %}
</head>
<body>
<canvas id="constellation"></canvas>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Menu</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="{{ path('blog_home') }}">Blog</a></li>
            </ul>
            <form class="navbar-form navbar-left" action="{{ path('blog_search') }}" role="search">
                <div class="form-group">
                    <input type="text" name="query" id="query" class="form-control" placeholder="Recherche">
                    <select class="form-control" name="type" id="type">
                        <option value="articles">Articles</option>
                        <option value="categories">Catégories</option>
                        <option value="tags">Tags</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
            </form>
            <ul class="nav navbar-nav navbar-right">
            {% if is_granted("ROLE_AUTHOR")  %}
                <li><a href="{{ path('blog_admin') }}">Administration</a></li>
            {% endif %}
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <li><a href="{{ path('user_profile') }}">{{ app.user.username }}</a></li>
                <li><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
            {% endif %}
                <li><a href="{{ path('about') }}">A propos</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="title">
        <h1 class="hidden-xs">DEVDEK</h1>
        <h1 class="visible-xs">DEVDEK</h1>
        {% block subtitle %}
        {% endblock subtitle %}
    </div>
    <div class="content">
        {% block body %}
        {% endblock %}
    </div>
    <footer>
        <p class="text-center">Blog <a href="https://bitbucket.org/JCornat/devdek" target="_blank">Open Source</a> par <a href="http://cornat-development.com" target="_blank">Cornat Development</a> - 2015</p>
    </footer>
</div>
<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script src="{{ asset('javascripts/constellation.js') }}"></script>
<script>
    $(document).on('ready', function() {
        Constellation($('canvas')[0]).init();
    });

    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-58903511-1', 'auto');
    ga('send', 'pageview');
</script>
{% block javascripts %}
{% endblock %}
</body>
</html>
