{% extends "::layout.html.twig" %}

{% block subtitle %}
    <h2>Administration</h2>
{% endblock %}

{% block body %}
    <a href="{{ path('blog_article_add') }}">Ajout d'article</a><br/>
    <a href="{{ path('blog_article_add') }}">Edition d'article</a><br/>
    <a href="{{ path('blog_category_add') }}">Ajout de catégorie</a><br/>
    <a href="{{ path('blog_category_list') }}">Liste des catégories</a><br/>
    <a href="{{ path('user_list') }}">Liste utilisateur</a><br/>
{% endblock %}