<section class="article" ng-controller="ArticleCtrl as ctrl">

    <div class="header" ng-style="{'background-image':'url('+ctrl.article.banner+')'}">
        <div class="title-container">
            <div class="title">

                <h1 ng-bind="ctrl.article.title"></h1>
                <h2 ng-bind="ctrl.article.subtitle"></h2>
            </div>

        </div>
    </div>

    <div class="content">
        <p ng-bind-html="ctrl.article.content"></p>
        <p ng-bind="ctrl.article.publishedAt"></p>
    </div>

</section>