{% extends "::layout.html.twig" %}

{% block subtitle %}
    <h2>A propos</h2>
{% endblock %}

{% block body %}
    <div class="article-content">
        <h3>A propos de DevDek :</h3>

        <p>DevDek est un site orient&eacute; d&eacute;veloppement Web qui se veut utile en donnant des informations essentielles rapidement.</p>

        <p>De nombreux sujets&nbsp;seront abord&eacute;s de mani&egrave;re simple mais compl&egrave;te et souvent avanc&eacute;e pour que les n&eacute;ophites souhaitant d&eacute;couvrir&nbsp;ou les personnes ayant d&eacute;j&agrave; une bonne exp&eacute;rience puissent utiliser ce site comme support d&#39;informations.</p>

        <p>&nbsp;</p>

        <h3>A propos de moi :</h3>

        <p>Travaillant s&eacute;rieusement dans le milieu du Web depuis maintenant 1 an, j&#39;ai pu apprendre de nombreuses technologies et&nbsp;m&eacute;thodes de travail que&nbsp;je souhaite&nbsp;partager.</p>

        <p>DevDek fait partie du d&eacute;fi que je me suis lanc&eacute; : 1 application / mois, et toutes ses sources sont disponibles sur BitBucket :)</p>

        <p>&nbsp;</p>

        <p>Si vous avez des questions, des remarques ou des demandes d&#39;articles, contactez-moi &agrave; mon adresse mail cornat.jacques@gmail.com, et&nbsp;je serai ravi d&#39;y r&eacute;pondre !</p>

        <p>&nbsp;</p>

        <p>Sur ce, bonne visite, et codez bien ! :)</p>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="col-xs-12 col-sm-3 text-center" style="margin-bottom: 2em;">
                <img class="article-author-avatar" src="http://image.noelshack.com/fichiers/2015/04/1421741724-ok.jpg" alt="avatar"/>
            </div>
            <div class="col-xs-12 col-sm-9">
                <p>Article écrit par <a href="http://cornat-development.com" target="_blank">Jacques Cornat</a></p>
                <p>Une question ? Envoyez moi un mail à cornat.jacques@gmail.com :)</p>
            </div>
        </div>
    </div>
{% endblock %}