{% extends "::layout.html.twig" %}

{% block subtitle %}
    <h2>Création d'article</h2>
{% endblock %}

{% block body %}
    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
        {{ form_widget(form.title, {'attr': {'class': 'col-xs-12', 'placeholder':'Titre de l\'article'}}) }}
        <br/>
        <br/>
        {{ form_widget(form.summary, {'attr': {'class': 'col-xs-12', 'placeholder':'Résumé de l\'article'}}) }}
        <br/>
        {{ form_widget(form.content, {'attr': {'class': 'col-xs-12 ckeditor'}}) }}
        {{ form_rest(form) }}
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
<script src="//cdn.ckeditor.com/4.4.6/full/ckeditor.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        var $container = $('div#app_bundle_blogbundle_article_tags');
        var $addLink = $('<a href="#" id="add_tag" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i></a>');
        $container.append($addLink);
        $addLink.click(function(e) {
            e.preventDefault();
            addTag($container);
            return false;
        });
        var index = $container.find(':input').length;
        if (index == 0) {
            addTag($container);
        } else {
            $container.children('div').each(function() {
                addDeleteLink($(this));
            });
        }

        function addTag($container) {
            var $prototype = $($container.attr('data-prototype').replace(/__name__label__/g, 'Tag n°' + (index+1))
                    .replace(/__name__/g, index));
            addDeleteLink($prototype);
            $container.append($prototype);
            index++;
        }

        function addDeleteLink($prototype) {
            $deleteLink = $('<a href="#" class="btn btn-danger"><i class="glyphicon glyphicon-remove"></i></a>');
            $prototype.append($deleteLink);
            $deleteLink.click(function(e) {
                e.preventDefault();
                $prototype.remove();
                return false;
            });
        }
    });
</script>
{% endblock %}