{% extends "::layout.html.twig" %}

{% block subtitle %}
    <h2>{{ article.title }}</h2>
{% endblock %}

{% block body %}
    <div class="article-content col-xs-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
        {{ article.content | raw }}
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="col-xs-12 col-sm-3 text-center" style="margin-bottom: 2em;">
                <img class="article-author-avatar" src="http://image.noelshack.com/fichiers/2015/04/1421741724-ok.jpg" alt="avatar"/>
            </div>
            <div class="col-xs-12 col-sm-9">
                <p>Article écrit le {{ article.date | date('d/m/Y') }} à {{ article.date | date('h:i') }} par <a href="http://cornat-development.com" target="_blank">{{ article.author.username }}</a></p>
                <p>Une question ? Envoyez moi un mail à cornat.jacques@gmail.com :)</p>
            </div>
        </div>
    </div>
    <div>
        <h4>Tags :</h4>
        <p>
            {% for tag in article.tags %}
                <a href="{{ path('blog_search') }}?query={{ tag.name }}&type=tags">{{ tag.name }}</a>{% if not loop.last %},{% endif %}
            {% endfor %}
        </p>
    </div>
{% endblock %}