<section ng-controller="ArticleFormCtrl as ctrl">

    <form novalidate>
        <label>
            Title :
            <input type="text" name="title" ng-model="ctrl.article.title"/>
        </label>
        <br/>
        <label>
            Slug :
            <input type="text" name="slug" ng-model="ctrl.article.slug"/>
        </label>
        <br/>
        <label>
            Subtitle :
            <input type="text" name="subtitle" ng-model="ctrl.article.subtitle"/>
        </label>
        <br/>
        <label>
            Thumbnail URL :
            <input type="text" name="thumbnail" ng-model="ctrl.article.thumbnail"/>
        </label>
        <br/>
        <label>
            Banner URL :
            <input type="text" name="banner" ng-model="ctrl.article.banner"/>
        </label>
        <br/>
        <label>
            Published at :
            <input type="text" name="publishedAt" ng-model="ctrl.article.publishedAt"/>
        </label>
        <br/>
        <label>
            Content :
            <textarea name="content" ng-model="ctrl.article.content" style="max-width: 100%"></textarea>
        </label>
        <br/>
        <label>
            Submit :
            <input type="submit" ng-click="ctrl.submit()"/>
            <button ng-click="ctrl.delete()" ng-show="ctrl.slug">Delete</button>
        </label>


        <br/>
        <p>Aperçu :</p>
        <section class="article">

            <div class="header" header="{{ctrl.article.banner}}" ng-style="resize()">
                <div class="title-container">
                    <div class="title">
                        <h2 ng-bind="ctrl.article.title"></h2>
                        <!--<h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque eos facilis, quibusdam quisquam recusandae sed?</h3>-->
                        <h3 ng-bind="ctrl.article.subtitle"></h3>
                    </div>
                </div>
            </div>

            <div class="content">
                <p ng-bind-html="ctrl.article.content"></p>

                <p ng-bind="ctrl.article.publishedAt"></p>
            </div>

        </section>
    </form>


</section>