/* line 3, ../scss/app.scss */
body {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
}

/* line 8, ../scss/app.scss */
.title {
  padding-top: 2em;
  padding-bottom: 2em;
}
/* line 12, ../scss/app.scss */
.title h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 100;
}
/* line 13, ../scss/app.scss */
.title h1.hidden-xs {
  font-size: 5.5em;
  letter-spacing: 70px;
  padding-left: 35px;
}
/* line 18, ../scss/app.scss */
.title h1.visible-xs {
  font-size: 3.5em;
  letter-spacing: 0.3em;
  padding-left: 0.15em;
}
/* line 26, ../scss/app.scss */
.title h2 {
  padding-top: 1em;
  font-weight: 200;
}

/* line 32, ../scss/app.scss */
#constellation {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/* line 39, ../scss/app.scss */
p, .navbar, li {
  font-size: 1.1em;
}

/* line 43, ../scss/app.scss */
a:hover {
  text-decoration: none;
}

/* line 47, ../scss/app.scss */
.navbar-default {
  background: transparent;
  border: none;
}
/* line 51, ../scss/app.scss */
.navbar-default .navbar-nav > li > a {
  color: #333;
}

/* line 56, ../scss/app.scss */
h1, h2, h3 {
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

/* line 61, ../scss/app.scss */
.article-content {
  margin-bottom: 3em;
}
/* line 63, ../scss/app.scss */
.article-content img {
  max-width: 100%;
}

/* line 69, ../scss/app.scss */
.content p {
  text-align: justify;
}
/* line 72, ../scss/app.scss */
.content p.text-center {
  text-align: center;
}
/* line 77, ../scss/app.scss */
.content h3 {
  text-align: left;
}
/* line 81, ../scss/app.scss */
.content blockquote {
  border-left: none;
}
/* line 85, ../scss/app.scss */
.content pre {
  font-size: 0.8em;
  border: none;
  background: rgba(33, 33, 33, 0.8);
  color: #00ff00;
  font-weight: bold;
}

/* line 94, ../scss/app.scss */
h2 {
  padding-bottom: 0.5em;
}

/* line 98, ../scss/app.scss */
footer {
  padding-top: 3em;
}

/* line 102, ../scss/app.scss */
input.col-xs-12, textarea.col-xs-12 {
  margin-bottom: 10px;
  padding: 5px;
}

/* line 107, ../scss/app.scss */
input.form-control {
  padding: 5px;
}
/* line 110, ../scss/app.scss */
input.form-control:focus {
  border-color: #cccccc;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* line 116, ../scss/app.scss */
.text-error {
  color: #FF3B30;
}

/* line 120, ../scss/app.scss */
.article {
  padding: 1em;
  border-bottom: 1px solid rgba(100, 100, 100, 0.1);
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: 50% 50%;
}
/* line 126, ../scss/app.scss */
.article .article-date {
  text-align: center;
}
/* line 128, ../scss/app.scss */
.article .article-date .day {
  width: 100%;
  display: block;
}
/* line 132, ../scss/app.scss */
.article .article-date .month {
  width: 100%;
  display: block;
}
/* line 136, ../scss/app.scss */
.article .article-date .year {
  width: 100%;
  display: block;
}
/* line 142, ../scss/app.scss */
.article .article-content {
  display: block;
}
/* line 146, ../scss/app.scss */
.article h2.article-title {
  font-weight: 200;
  text-align: left;
  font-size: 2em;
  padding: 0 0 3px 0;
  margin: 0;
}
/* line 154, ../scss/app.scss */
.article p.subtitle {
  margin-bottom: 1em;
}

/* line 159, ../scss/app.scss */
.article-author-desc {
  margin-left: 180px;
}

/* line 163, ../scss/app.scss */
.article-author-avatar {
  max-width: 150px;
  border-radius: 150px;
}
