@import "compass/utilities/general/clearfix";
@import "compass/css3";
@import "grid";

$xlargeWidth: 1200px;
$largeWidth: 992px;
$mediumWidth: 768px;
$smallWidth: 480px;
$xsmallWidth: 320px;

$columnWidth: 700px;

$h1: 30px;
$h2: 24px;

$green: #4CAF50;
$grey: #9E9E9E;
$blue: #2196F3;
$deepBlue: #01579B;

* {
  box-sizing: border-box;
}

body, html {
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
  margin-bottom: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 5em;
  font-weight: 300;
}

h2 {
  font-size: 3.5em;
  font-weight: 300;
  line-height: 50px;
}

h3 {
  font-size: $h1;
  font-weight: 300;
  line-height: 30px;
}

h4 {
  font-size: $h2;
  font-weight: 300;
}

p, a {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

#constellation {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@media screen and (max-width: $sm) {

  .logo {
    padding-top: 4rem;
    margin-bottom: 2rem;

    h1 {
      $size: 2.5rem;
      letter-spacing: calc(#{$size} / 1.5);
      padding-left: calc(#{$size}/1.5);
      font-size: $size;
      padding-bottom: 1rem;
    }

    h2 {
      font-size: 1.2rem;
    }
  }
}

@media screen and (min-width: $sm) and (max-width: $md) {

  .logo {
    padding-top: 6em;
    margin-bottom: 4em;

    h1 {
      $size: 3.5rem;
      letter-spacing: calc(#{$size} / 1.2);
      padding-left: calc(#{$size}/1.5);
      font-size: $size;
      padding-bottom: 2rem;
    }

    h2 {
      font-size: 1.3rem;
    }
  }


}

@media screen and (max-width: $md) {
  .articles {
    width: 100%;
  }
  .article {
    .column, .header.title-container {
      padding-left: 20px;
      padding-right: 20px;
      width: 100%;
    }
  }
}

@media screen and (min-width: $md) and (max-width: $lg) {

  .logo {
    padding-top: 6em;
    margin-bottom: 4em;

    h1 {
      letter-spacing: calc(4rem/1.15);
      padding-left: calc(4rem/1.20);
      font-size: 4rem;
      padding-bottom: 2rem;
    }

    h2 {
      font-size: 1.5rem;
    }
  }

}

@media screen and (min-width: $lg) {

  .logo {
    padding-top: 6em;
    margin-bottom: 4em;

    h1 {
      letter-spacing: calc(5rem/1.15);
      padding-left: calc(5rem/1.20);
      font-size: 5rem;
      padding-bottom: 2rem;
    }

    h2 {
      font-size: 1.7rem;
    }
  }
}

.article {
  .header {
    display: table;
    vertical-align: middle;
    width: 100%;
    background-size: cover;
    background-position: center center;
    color: #fff;
    margin-bottom: 1.5em;

    .title-container {
      background-color: rgba(0, 0, 0, .3);
      display: table-cell;
      vertical-align: bottom;

      .title {
        text-align: left;
        padding-bottom: 50px;

        h2 {
          margin-bottom: 0.2em;
        }
      }
    }
  }

  .content {
    margin-bottom: 1.5em;
    text-align: justify;

  }

  .date {
    margin-bottom: 1.5em;
    text-align: left;
  }

  .author {
    img {
      width: 150px;
      border-radius: 100px;
      margin-bottom: 1.5em;
    }
  }
}



.logo {
  text-align: center;

  h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
  }

  h2 {
    color: $grey;
  }
}



/*
.column-3 {
  width: 100/12*3%;
  float: left;
  display: block;
}

.column-9 {
  width: 100/12*9%;
  float: left;
  display: block;
}*/


.avatar {
  text-align: center;
}

.articles {
  .article {
    text-align: left;
    margin-bottom: 2em;
    padding-bottom: 1em;
    border-bottom: 1px solid rgba(0,0,0,.1);

    .thumbnail {
      box-shadow: 0 1px 1.5px 0 rgba(0,0,0,.12), 0 1px 1px 0 rgba(0,0,0,.24);
      transition: box-shadow linear 0.3s;
      &:hover {
        box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 5px 0 rgba(0,0,0,.23);
        cursor: pointer;
      }
    }

    .title {
      &:hover {
        cursor: pointer;
      }
      font-size: 26px;
      color: #000;
      font-weight: 300;
    }

    .subtitle {
      &:hover {
        cursor: pointer;
      }
      font-size: 17px;
      color: $grey;
      font-weight: 300;
    }

    .link {
      margin-top: 1em;
      a {
        color: $blue;
        text-decoration: none;

        &:hover {
          color: $deepBlue;
          text-decoration: underline;
        }
      }
      //float: right;
    }
  }
}

#about {
  color: #333;
  position: absolute;
  text-align: center;
  top: 50px;
  width: 100%;
}

.logo-mini {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  position: relative;

  .back {
    position: absolute;
    left: 0;
    top: 10px;
  }

  .devdek {
    text-align: center;
    letter-spacing: 25px;
  }
}


/* ANIMATIONS
============================================================================= */

.page.ng-leave {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 9999;
}

.page.ng-enter {
  z-index: 8888;
}

/* page specific animations ------------------------ */

/* home -------------------------- */
.page.ng-leave {
  -webkit-animation: fadeout 0.2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadeout 0.2s; /* Firefox < 16 */
  -ms-animation: fadeout 0.2s; /* Internet Explorer */
  -o-animation: fadeout 0.2s; /* Opera < 12.1 */
  animation: fadeout 0.2s;
}

.page.ng-enter {
  -webkit-animation: fadein 0.4s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 0.4s; /* Firefox < 16 */
  -ms-animation: fadein 0.4s; /* Internet Explorer */
  -o-animation: fadein 0.4s; /* Opera < 12.1 */
  animation: fadein 0.4s;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Internet Explorer */
@-ms-keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.container {
  //max-width: 40em;

  @include make-container();
}
.row {
  @include make-row();
}

.content-main {
  @include make-col();

  @media (max-width: 32em) {
    @include make-col-span(6);
  }
  @media (min-width: 32.1em) {
    @include make-col-span(8);
  }
}
.content-secondary {
  @include make-col();

  @media (max-width: 32em) {
    @include make-col-span(6);
  }
  @media (min-width: 32.1em) {
    @include make-col-span(4);
  }
}

@for $i from 1 through 12 {
  .column-#{$i} {
    @include make-col();
    @include make-col-span($i);
  }
}
