{% extends "::layout.html.twig" %}

{% block subtitle %}
    <h2>Catégorie</h2>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-12 col-md-offset-3 col-md-6">
            {{ form_start(form) }}
                <div class="row">
                    <div class="col-xs-12 col-md-offset-2 col-md-8">
                        {{ form_widget(form.name, {'attr': {'class': 'col-xs-12', 'placeholder':'Nom de la catégorie'}}) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-offset-2 col-md-8">
                        <input type="submit" class="col-xs-12" value="Sauvegarder"/>
                    </div>
                </div>
                {{ form_rest(form) }}
            {{ form_end(form) }}
        </div>
    </div>
    <script src="//cdn.ckeditor.com/4.4.6/full/ckeditor.js"></script>
{% endblock %}