{% extends "::layout.html.twig" %}

{% block subtitle %}
    <h2>Liste des catégories</h2>
{% endblock %}

{% block body %}
    {% for category in categories %}
        <p>{{ category.name }}&nbsp;<a class="btn btn-default" href="{{ path('blog_category_edit', {'id':category.id}) }}"><i class="glyphicon glyphicon-pencil"></i></a></p>
    {% endfor %}
{% endblock %}