{% extends "::layout.html.twig" %}

{% block body %}

    <div class="row">
        <div class="col-sm-12 col-md-offset-3 col-md-6">
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>
    </div>

{% endblock %}