{% extends "::layout.html.twig" %}
{% import("AppBlogBundle:Blog:macro.html.twig") as macro %}

{% block subtitle %}
    <h2>Le blog TL;DR</h2>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xs-12 col-md-offset-1 col-md-10">
        {% for article in articles %}
            {{ macro.articleTemplate(article) }}
        {% endfor %}
        </div>
    </div>
    <nav class="text-center">
        <ul class="pagination">
            {% for p in range(1,nbPages) %}
                <li{% if page == p %} class="active" {% endif %}>
                    <a href="{{ path('blog_home', {'page':p}) }}">{{ p }}</a></li>
            {% endfor %}
        </ul>
    </nav>
{% endblock %}