{% macro articleTemplate(article) %}
    <div class="article">
        <h2 class="article-title">
            <a href="{{ path('blog_article', {'id':article.slug}) }}">{{ article.title }}</a>
        </h2>
        <p class="subtitle">Dans <a href="{{ path('blog_search') }}?query={{ article.category.name }}&type=categories">{{ article.category.name }}</a>, par {{ article.author.username }}</p>
        <p class="article-summary">{{ article.summary }}</p>
        <div class="read-more text-right">
            <a class="btn btn-default" href="{{ path('blog_article', {'id':article.id}) }}">LIRE</a>
        </div>
    </div>
{% endmacro %}