{% extends "::layout.html.twig" %}
{% import("AppBlogBundle:Blog:macro.html.twig") as macro %}

{% block subtitle %}
    <h2>Résultats de la recherche</h2>
{% endblock %}

{% block body %}
    {% for article in articles %}
        {{ macro.articleTemplate(article) }}
    {% endfor %}
{% endblock %}

{% block javascripts %}
<script>
    $(document).ready(function() {
        $.urlParam = function(name){
            var results = new RegExp('[\?&amp;]' + name + '=([^&#]*)').exec(window.location.href);
            return results[1] || 0;
        };

        var query = $.urlParam('query');
        var type = $.urlParam('type');
        console.log(query);
        console.log(type);
        if(query) {
            $('#query').val(query);
        }
        if(type) {
            $('#type').val(type);
        }

    });
</script>
{% endblock %}