{% extends "AppUserBundle::layout.html.twig" %}


{% block subtitle %}
    <h2>Connexion</h2>
{% endblock subtitle %}

{% block fos_user_content %}
    {% if error %}
        <div class="text-center text-error">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form action="{{ path("fos_user_security_check") }}" method="post">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

        <div class="row">
            <div class="col-xs-12 col-md-offset-2 col-md-8">
                <input type="text" class="col-xs-12" id="username" placeholder="Nom d'utilisateur" name="_username" value="{{ last_username }}" required="required" />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-offset-2 col-md-8">
                <input type="password" class="col-xs-12" id="password" placeholder="Mot de passe" name="_password" required="required" />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-offset-2 col-md-8">
                <input type="submit" class="col-xs-12" id="_submit" name="_submit" value="Connexion" />
            </div>
        </div>
    </form>
{% endblock fos_user_content %}
