{% extends "::layout.html.twig" %}

{% block subtitle %}
    <h2>Inscription</h2>
{% endblock subtitle %}

{% block body %}
    <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
        <div class="row">
            <div class="col-xs-12 col-md-offset-2 col-md-8">
                {{ form_widget(form.email, {'attr': {'class': 'col-xs-12', 'placeholder':'Email'}}) }}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-offset-2 col-md-8">
                {{ form_widget(form.username, {'attr': {'class': 'col-xs-12', 'placeholder':'Nom d\'utilisateur'}}) }}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-offset-2 col-md-8">
                {{ form_widget(form.plainPassword.first, {'attr': {'class': 'col-xs-12', 'placeholder':'Mot de passe'}}) }}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-offset-2 col-md-8">
                {{ form_widget(form.plainPassword.second, {'attr': {'class': 'col-xs-12', 'placeholder':'Répéter mot de passe'}}) }}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-offset-2 col-md-8">

                <input type="submit" class="col-xs-12" value="S'inscrire" />
            </div>
        </div>
    </form>
{% endblock %}
