{% extends "AppUserBundle::layout.html.twig" %}

{% block subtitle %}
    <h2>Inscription</h2>
{% endblock subtitle %}

{% block fos_user_content %}
    <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
        {{ form_errors(form) }}
        <div class="row">
            <div class="col-xs-12 col-md-offset-2 col-md-8">
                {{ form_errors(form.username) }}
                {{ form_widget(form.username, {'attr': {'class': 'col-xs-12', 'placeholder':'Nom d\'utilisateur'}}) }}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-offset-2 col-md-8">
                {{ form_errors(form.email) }}
                {{ form_widget(form.email, {'attr': {'class': 'col-xs-12', 'placeholder':'Email'}}) }}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-offset-2 col-md-8">
                {{ form_errors(form.plainPassword.first) }}
                {{ form_widget(form.plainPassword.first, {'attr': {'class': 'col-xs-12', 'placeholder':'Mot de passe'}}) }}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-offset-2 col-md-8">
                {{ form_widget(form.plainPassword.second, {'attr': {'class': 'col-xs-12', 'placeholder':'Répéter mot de passe'}}) }}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-offset-2 col-md-8">
                <input type="submit" class="col-xs-12" value="S'inscrire"/>
            </div>
        </div>
        {{ form_rest(form) }}
    </form>
{% endblock fos_user_content %}
